{% load static %}
<header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="{% url 'home' %}" class="logo d-flex align-items-center me-auto">
        <h1 class="sitename">Mentor</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          {% if user.is_authenticated %}
          <li><a href="{% url 'home' %}" class="active">Home<br></a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'courses' %}">Courses</a></li>
          <li><a href="{% url 'trainer' %}">Trainers</a></li>
          <li><a href="{% url 'events' %}">Events</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
          <li><a href="">{{ request.user|capfirst }}</a></li>

          
          {% else %}
          <li><a  href="{% url 'login_page' %}">Login</a></li>
          <li><a  href="{%  url 'register' %}">Sign Up</a></li>
          {% endif %}
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
      {% if user.is_authenticated %}
      <a class="btn-getstarted"  href="{% url 'logout_page' %}"><i class="bi bi-box-arrow-left"></i></a>
      <a class="btn-getstarted" href="{% url 'courses' %}">Get Started</a>
      {% endif %}

    </div>
  </header>